<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated model -->
      <package
            uri="file:/C:/Users/marc.engelmann/Documents/GitHub/Java-CPACS-Parser/schema/cpacs.xsd"
            class="Cpacs.CpacsPackage"
            genModel="model/model.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated model -->
      <parser
            type="cpacs"
            class="Cpacs.util.CpacsResourceFactoryImpl"/>
   </extension>
</plugin>
